fastapi[standard]==0.120.0
uvicorn==0.38.0

SQLAlchemy==2.0.44
psycopg2-binary==2.9.11

numpy==1.26.4
pandas==2.2.2
python-dotenv==1.1.1
python-dateutil==2.9.0.post0
pytz==2024.1

httpx==0.28.1
websocket-client>=0.56.0,<1.0.0
websockets==15.0.1
requests==2.32.3

python-jose==3.5.0
bcrypt==5.0.0
argon2-cffi==23.1.0

pydantic==2.12.3


click==8.3.0
Jinja2==3.1.6
PyYAML==6.0.3

debugpy==1.8.1